<i class="fa fa-4x fa-stethoscope wow bounceIn text-primary"></i>
<h4>Top 10 Expected Pharmaceutical Classes</h4>
<table class="table" width: 98% text-align: center >
    <thead>
        <tr>
            <th>Pharmaceutical Class</th>
            <th>Predicted Normalized Prescriptions <br>(0-100)</th>
        <tr>
    </thead>
    <tbody>
        {% for drugclass in drugclasses %}
        <tr>
            <td> {{ drugclass['pharmclass'] }} </td>
            <td> {{ drugclass['scaledbatch'] }} </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
